run/
memberspage.html
config.yml
voting.sqlite3.db*
test/users.json
test/result.*.txt
society-voting

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/

### Svelte ###
web/dist/
web/.DS_Store
web/node_modules
web/.svelte-kit
web/package
web/.env
web/.env.*
!web/.env.example
web/vite.config.js.timestamp-*
web/vite.config.ts.timestamp-*

# IDE configs
.vscode/
